<footer class="site-footer">
    <div class="container site-footer__inner">
        <div>
            <strong>{{ site.title }}</strong><br>
            Tutorial content: <a href="https://creativecommons.org/licenses/by/4.0/" rel="noopener">CC BY 4.0</a>.
            Sample code: <a href="https://github.com/{{ site.github_username }}/{{ site.github_repo }}/blob/main/LICENSE" rel="noopener">Apache 2.0</a>.
        </div>

        <div>
            <a href="https://github.com/{{ site.github_username }}/{{ site.github_repo }}" rel="noopener">Source on GitHub ↗</a>
            &nbsp;·&nbsp;
            <a href="https://github.com/{{ site.github_username }}/{{ site.github_repo }}/issues" rel="noopener">File an issue ↗</a>
        </div>
    </div>
</footer>
